<script>
    $(document).ready(function(){
       $('.parallax').parallax();
       $('.slider').slider({
           height: 400,
           interval: 3000,
           transition: 400
       });
       $('.scrollspy').scrollSpy({
           scrollOffset:50
       });
       $('.carousel.carousel-slider').carousel({fullWidth: true});
    });
</script>

<!-- top fixed navbar -->
<div class="navbar-fixed">
    <nav class="grey darken-3">
        <div class="nav-wrapper">
            <h4 class="brand-logo" style="margin-left:20px;">David Lu and Associates</h4>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#header"  class="hoverable waves-effect">Home</a></li>
                <li><a href="#about_us" class="hoverable waves-effect">About Us</a></li>
                <li><a href="#services" class="hoverable waves-effect">Services</a></li>
                <li><a href="#testmonial" class="hoverable waves-effect">Testmonial</a></li>
                <li><a href="#contact" class="hoverable waves-effect">Contact</a></li>
                <li><a href="#chinese" class="hoverable waves-effect">中文版</a></li>
            </ul>
        </div>
    </nav>
</div>

<!-- header -->
<div id="header" class="parallax-container valign-wrapper scrollspy">
     <div class="container">
         <div class="row">
             <div class="col l12 s12 white-text center">
                 <div class="thin-text valign" style="text-align:center">
                     <h3>David Lu and Associates</h3>
                     <h5>Immigration and Investment Services</h5>
                 </div>
                 <br />
                 <a href="#" class="waves-effect orange darken-1 btn">Get Start</a>
             </div>
         </div>
         <div class="row">

         </div>
     </div>
     <div class="parallax"><img src="assets/img/capitol.png" class="responsive-img"></div>
</div>

<div id="about_us" class="section scrollspy" style="background-color: #ccad52">
    <div class="container center white-text">
        <h2>{ About Us }</h2>
    </div>
</div>

<!-- Full Width Slider -->
<div class="slider">
    <ul class="slides">
      <li>
        <img src="assets/img/visa.jpg">
        <div class="caption left-align">
          <h3>Immigration Service</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="assets/img/george.jpg">
        <div class="caption center-align">
          <h3>Litigation Service</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="assets/img/investment.jpg">
        <div class="caption right-align">
          <h3>Investment Service</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

  <!-- Attorney Photos -->
  <div class="section" style="background: url('assets/img/attorney.png') no-repeat center center; height: 800px;">
  </div>

  <!-- Testmonials Carousel -->
  <div id="testmonial"  class="section scrollspy" style="background-color: #ccad52; margin-top:-20px;">
      <div class="container center white-text">
          <h2>{ Testmonials }</h2>
      </div>
  </div>
  <div class="carousel carousel-slider center" data-indicators="true" style="height:500px;">
      <div class="carousel-fixed-item center">
          <a class="btn waves-effect white grey-text darken-text-2">Next</a>
      </div>
      <div class="carousel-item grey lighten-4">
          <div class="container">
              <h2><i class="material-icons large">format_quote</i></h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <h2><i class="material-icons large">format_quote</i></h2>
              <!-- <img src="assets/img/1.jpg" class="circle responsive-img"/> -->
          </div>
      </div>
      <div class="carousel-item grey lighten-3">
          <div class="container">
              <h2><i class="material-icons large">format_quote</i></h2>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
              <h2><i class="material-icons large">format_quote</i></h2>
          </div>
      </div>
      <div class="carousel-item grey lighten-2">
          <div class="container">
              <h2><i class="material-icons large">format_quote</i></h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
              <h2><i class="material-icons large">format_quote</i></h2>
          </div>
      </div>
      <div class="carousel-item grey lighten-1">
          <div class="container">
              <h2><i class="material-icons large">format_quote</i></h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <h2><i class="material-icons large">format_quote</i></h2>
          </div>
      </div>
  </div>


  <!-- Contact Us Section -->
  <div id="contact" class="section scrollspy" style="background-color: #ccad52;">
      <div class="container center white-text">
          <h2>{ Contact }</h2>
      </div>
  </div>


  <div class="parallax-container valign-wrapper">
       <div class="container">
           <div class="row">
               <div class="col l6 m6 s12 white-text">

               </div>
               <div class="col l6 m6 s12 white-text" style="font-size: 20px">
                   <h3 >Contact Us</h3>
                   <p>Please contact the office to schedule an appointment!</p>
                   <ul>
                       <li><p><i class="material-icons">account_balance</i> 8500 Leesburg Pike, Suite 7000, Vienna, VA 22182</p></li>
                       <li><p><i class="material-icons">local_phone</i> +1(703)883-1858</p></li>
                       <li><p><i class="material-icons">local_post_office</i> info@davidlu.com</p></li>
                       <li><p><i class="material-icons">schedule</i> Mon - Fri 08:30 - 17:00</p></li>
                   </ul>
               </div>
           </div>
       </div>
       <div class="parallax"><img src="assets/img/skyline.jpg" class="responsive-img"></div>
  </div>

  <!-- Map for Direction -->
  <div class="section" style="margin-top:-15px;">
        <iframe
            width=100%
            height="400"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAv3bkvnlpLTjw_yfL_jBXAXrd1JRk0hQM
            &q=8500+Leesburg+Pike,Vienna+VA" allowfullscreen>
        </iframe>
  </div>
